@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-background: #121212;
  --color-primary: #F4F0ED;
  --color-secondary: #daeeff;
  --color-chocolate: #71341c;
  --color-mango: #f3cb60;
  --color-blueberry: #a470b6;
  --color-strawberry: #f09bb2;
  --color-pistachio: #a5cf8a;
  --color-vanila: #f6e6bb;
  --font-cursive: "Dancing Script", cursive;
  --font-stylish: "Rowdies", sans-serif;
  --font-archivo: "Archivo Black", sans-serif;
  --font-melted: "melted", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-berkshire:"Berkshire Swash", serif;
  --font-bebas: "Bebas Neue", sans-serif;
}

@font-face {
  font-family: melted;
  src: url(./assets/fonts/MELTED.ttf) format("truetype");
}


.text-shadow {
  text-shadow: 6px 2px 4px rgba(0, 0, 0, 0.379);
}
